
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Order Success</title>
  <link rel="shortcut icon" href="https://set.hust.edu.vn/storage/logo/set-logo.png"
        type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #b3b3b3">
<div>Xin chào, <span th:text="${firstName}"></span> <span th:text="${lastName}"></span></div>
<div class="container">
  <h2>Đơn hàng của bạn đang được xử lý !!</h2>
  <img src='https://shopta.vn/images/2015/11/dat-hang-thanh-cong.jpg'>
</div>

</body>

</html>
</html>
